@font-face {
    font-family: "Bungee";
    src: url('Bungee-Regular.ttf') format('truetype');
}

.image-banner{
    font-family: Bungee;
    background-color: #ff00ff;    
    margin: 10px;
    padding: 10px;
}
.menus{
    display:flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    
}

.menus section{
    color:black;
    border-color:#7944e6;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;

 
}
.menus a,
nav a {
    color: #7944e6;
}

.menus a:hover,
nav a:hover{
    color:#10fdff;
}

.menus img {
    width: 90%;
}

.image-banner {
    display: flex;    
    flex-direction: column;
}

.food-truck {
    width:50%;    
    margin:30px auto;
}

.about-copy {
    color:black;
    font-family:Bungee;
    text-transform: uppercase; 
    width:100%;
    line-height: 1;
}


header{
    display: flex;
    color:#7944e6;
    justify-content:space-between;
    

}
header img{
    width:80px;
}
nav{
    display: flex;
    align-items: center;
    text-align: right;
    color:#10fdff;
}


nav ul{
    list-style-type: none;

}
nav li{
    margin-left: 10px;
    display:inline;


}


section{
    border:solid
}

body{
    font-family: Bungee;
    background-color: white;


}

button{
    background-color:#7944e6;
    text-align:center;
}

button:hover{
    color:#fdff;
}

    

@media (min-width: 768px) {
    .image-banner,
    .menus {
        flex-direction: row;        
    }    

    .menus {
        justify-content:space-around;
        width: 100%;
    }

    .image-banner{
        align-items: center;
    }
    .image-banner .food-truck{
        width: 30%;
    }
    .image-banner .about-copy{
        width: 50%;
    }
    .menus section{
        max-width: 25%;
    }

    header img{
        width: 200px;
    }
}